<div layout="row" flex>

  <!-- Column 1: Logo and topics -->
  <div flex layout="column" layout-padding>
    <div>
      <img src="res/logo.png">
    </div>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary pull-right">About this project</md-button>
    </div>
    <div layout="column">
      <h3>Topics</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
        <li>Nunc dignissim risus id metus.</li>
        <li>Cras ornare tristique elit.</li>
      </ul>
    </div>
  </div>

  <!-- Column 2: network, search field and results -->
  <div flex layout="column">
    <div flex layout id="sigmaContainer"></div>
    <div layout layout-padding>
      <md-input-container layout-fill class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Search</label>
        <md-icon aria-label="search">search</md-icon>
        <input ng-model="searchQuery" type="text" ng-press-enter="execSearchQuery()">
      </md-input-container>
    </div>
    <div flex layout layout-align="center center" class="searchResults">
      <md-list class="md-dense" flex layout layout-fill>
        <md-virtual-repeat-container flex layout layout-fill ng-show="resultsLoaded">
          <div
            class="repeated-item md-3-line md-long-text"
            md-virtual-repeat="r in results"
            we-id="{{r.web_entity_id}}"
            doc-id="{{r.id}}"
            ng-click="null"
          >
            <h3 class="weName">
              {{r.web_entity}}
            </h3>
            <h4 class="pageUrl" lru="{{r.lru}}">
              {{r.url}}
            </h4>
            <p class="resultHighlight" lru="{{r.lru}}" data-ng-bind-html="resultsHighlighting[r.id].text[0]">
            </p>
          </div>
        </md-virtual-repeat-container>
      </md-list>
    </div>
  </div>

  <!-- Column 3: landing message / verbatim -->
  <div flex layout layout-align="center center">
    <div layout>
        V<br>
        E<br>
        R<br>
        B<br>
        A<br>
        T<br>
        I<br>
        M
    </div>
  </div>
</div>