<div layout="row" flex>

  <!-- Column 1: Logo and topics -->
  <div flex layout="column" style="background-color: #FEE">
    <div>
      <img src="res/logo.png">
    </div>
    <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary pull-right">About this project</md-button>
    </div>
    <div layout="column">
      <h3>Topics</h3>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
        <li>Nunc dignissim risus id metus.</li>
        <li>Cras ornare tristique elit.</li>
      </ul>
    </div>
  </div>

  <!-- Column 2: network, search field and results -->
  <div flex layout="column" style="background-color: #EFE">
    <div flex layout id="sigmaContainer"></div>
    <div flex layout layout-align="center center">Search field</div>
    <div flex layout layout-align="center center">Results</div>
  </div>

  <!-- Column 3: landing message / verbatim -->
  <div flex layout layout-align="center center" style="background-color: #EEF">
    <div layout>
        V<br>
        E<br>
        R<br>
        B<br>
        A<br>
        T<br>
        I<br>
        M
    </div>
  </div>
</div>