<div tool-bar layout></div>
<md-content layout="column" flex>
  <div ng-show="loading">
    LOADING
  </div>

  <div ng-show="!loading" layout-padding>
    
    <h1>WORK IN PROGRESS</h1>

    <blockquote>
      <p>
        User experience hypotheses backing customer A/B testing direct mailing. Bandwidth influencer stock rockstar gamification success. Graphical user interface pivot bandwidth investor partnership leverage client release business-to-business series A financing early adopters accelerator. Focus assets user experience freemium technology deployment. Long tail interaction design agile development scrum project influencer backing incubator pivot business plan. Funding early adopters leverage accelerator pitch gen-z direct mailing investor. Client channels direct mailing infrastructure android. Pitch deployment infographic venture burn rate ownership launch party. Deployment graphical user interface startup hackathon iPad user experience business model canvas holy grail social proof gamification growth hacking funding facebook buyer. Crowdsource release ecosystem advisor non-disclosure agreement.
      </p>
    </blockquote>

  </div>
</md-content>