<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}">
  </div>

  <!-- (Hidden) Column: Map + web entity summary-->
  <div flex="{{flexColMapWe}}" class="flex-transition" layout="column">
  </div>

  <!-- Column: Verbatim -->
  <div flex="{{flexColVerbatim}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- Column: Topic -->
  <div flex="{{flexColTopic}}" class="flex-transition" layout="column">
    <div layout layout-fill layout-align="center center" ng-show="!topicsLoaded && !transitioning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div
      ng-show="topicsLoaded && !transitioning"
      flex
      topic-focus
      topic="topic"
      close="topic2 ? closeTop : allTopics"
      close-button="true"
    ></div>
    <div
      ng-if="topicsLoaded && !transitioning && topic2"
      class="bottom-topic"
      flex
      topic-focus
      topic="topic2"
      close="closeBottom"
      close-button="true"
    ></div>
  </div>

  <!-- Column: Topics zoom -->
  <div flex="{{flexColSide}}" class="flex-transition" layout>

    <!-- Mode: crossing -->
    <div ng-if="topicsLoaded && !transitioning && crossing" layout-fill layout="column" layout-align="center">
      <div flex layout="column">
        <md-button class="md-primary" ng-click="transition('topics')">
          <md-icon>keyboard_arrow_up</md-icon>
          <span translate>BACK TO TOPICS</span>
        </md-button>
      </div>
      <div
        topics="topics"
        topics-index="topicsIndex"
        crossing="crossing"
        topics-crossing
      ></div>
      <div flex layout="column" layout-align="center center">
        <md-button class="md-raised" aria-label="Search overlap" ng-click="transition('search')" translate>
          <md-icon>search</md-icon>
          SEARCH OVERLAP
        </md-button>
      </div>
    </div>

    <!-- Mode: no crossing -->
    <div ng-if="topicsLoaded && !transitioning && topic2 === undefined" layout-fill layout="column">
      <md-toolbar layout="row" class="">
        <div class="md-toolbar-tools" flex>
          <span translate>OVERLAPPING TOPICS</span>
        </div>
      </md-toolbar>
      <md-list flex>
        <md-virtual-repeat-container layout-fill>
          <md-list-item md-virtual-repeat="t2 in otherTopics" class="md-2-line repeated-item" flex ng-click="compareTo(t2.id)">
            <div class="md-list-item-text">
              <h3 translate>{{ t2.id }}</h3>
              <h4>
                <span style="opacity:0.7">
                  {{t2[topic]|number}} <span translate>X PAGES OVERLAP</span>
                </span>
              </h4>
            </div>
          </md-list-item>
        </md-virtual-repeat-container>
      </md-list>
    </div>
  </div>

</div>
