<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}">
  </div>

  <!-- (Hidden) Column: Map + web entity summary-->
  <div flex="{{flexColMapWe}}" class="flex-transition" layout="column">
  </div>

  <!-- Column: Verbatim -->
  <div flex="{{flexColVerbatim}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- Column: Topic -->
  <div flex="{{flexColTopic}}" class="flex-transition" layout="column">
    TODO: topic
  </div>

</div>