<div layout="row" flex>

	<!-- Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('search')">
    <md-button class="handle-button md-primary" ng-show="!transitioning">
      <md-icon aria-label="left">chevron_left</md-icon>
      <div class="left-handle-text"translate >SEARCH</div>
    </md-button>
  </div>

  <!-- (Hidden) Column: Map -->
  <div flex="{{flexColMap}}" class="flex-transition" layout="column">
  </div>

  <!-- (Hidden) Column: Search -->
  <div flex="{{flexColSearch}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- Column: Topics vis -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.6'}">
    <div layout layout-fill layout-align="center center" ng-show="!topicsLoaded && !transitioning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar layout="row" class="md-hue-1" ng-show="topicsLoaded && !transitioning">
      <div class="md-toolbar-tools">
        <span translate>TOPICS</span>
      </div>
    </md-toolbar>
    <div
      ng-show="topicsLoaded && !transitioning"
      id="topics-matrix"
      layout
      flex
    >
      <div
        id="topics-matrix-svg-container"
        topics="topics"
        topic-ranks="topicRanks"
        crossings="crossings"
        selected-crossing="selectedCrossing"
        topics-matrix
        layout-fill
      ></div>
  	</div>
  </div>

  <!-- Column: Topics zoom -->
  <div flex="{{flexColSide}}" class="flex-transition" layout>
    <div ng-show="!transitioning && selectedCrossing" layout-fill layout="column" layout-align="center">
      <div flex layout="column" layout-align="start end">
        <md-button class="md-icon-button" aria-label="Close" ng-click="closeCrossing()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    	<div
        topics="topics"
        topics-index="topicsIndex"
        crossing="selectedCrossing"
        topics-crossing
      ></div>
      <div flex layout="column" layout-align="center center">
        <md-button class="md-raised md-primary" aria-label="More" ng-href="#/topic/{{selectedCrossing[0]}}/{{selectedCrossing[1]}}" translate>
          MORE DETAILS
        </md-button>
      </div>
    </div>
  </div>

</div>