<div layout="row" flex>

  <!-- Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('webentity')">
    <md-button class="handle-button md-primary" ng-show="!transitioning">
      <md-icon aria-label="left">chevron_left</md-icon>
      <div class="left-handle-text" translate>WE</div>
    </md-button>
  </div>

  <!-- (Hidden) Column: Web entity -->
  <div flex="{{flexColWebentityExpanded}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- Column: Map + web entity summary-->
  <div flex="{{flexColMapWe}}" class="flex-transition" layout="column">
    <div flex="{{flexColMap}}" class="flex-transition" layout="column">
      <md-button class="md-primary" ng-click="transition('home')">
        <md-icon>keyboard_arrow_up</md-icon>
        <span translate>BACK_TO_SEARCH</span>
      </md-button>
      <div flex layout id="sigmaContainer" ng-show="!transitioning">
        <div layout="column" layout-fill layout-align="center center">
          <span translate>LOADING_NETWORK</span>
        </div>
      </div>
    </div>
    <div flex layout="column">
      <div layout="column" layout-padding ng-show="verbatimLoaded && !transitioning">
        <h3>{{result.web_entity}}</h3>
        <p>{{result.web_entity_id}}</p>
      </div>
    </div>
  </div>

  <!-- Column: Verbatim -->
  <div flex="{{flexColVerbatim}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <md-toolbar layout="row" class="md-primary" ng-show="!transitioning">
      <div class="md-toolbar-tools">
        <span translate>VERBATIM</span>
        <span flex></span>
        <md-button class="" aria-label="canola" ng-click="verbatimMode = 'canola'">
          <md-icon ng-show="verbatimMode != 'canola'">radio_button_unchecked</md-icon>
          <md-icon ng-show="verbatimMode == 'canola'">radio_button_checked</md-icon>
          <span translate>MODE_CANOLA</span>
        </md-button>
        <md-button class="" aria-label="text" ng-click="verbatimMode = 'text'">
          <md-icon ng-show="verbatimMode != 'text'">radio_button_unchecked</md-icon>
          <md-icon ng-show="verbatimMode == 'text'">radio_button_checked</md-icon>
          <span translate>MODE_TEXT</span>
        </md-button>
        <md-button class="" aria-label="html" ng-click="verbatimMode = 'html'">
          <md-icon ng-show="verbatimMode != 'html'">radio_button_unchecked</md-icon>
          <md-icon ng-show="verbatimMode == 'html'">radio_button_checked</md-icon>
          <span translate>MODE_HTML</span>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout layout-align="center center" ng-show="!transitioning">
      <md-progress-circular md-mode="indeterminate" ng-show="!verbatimLoaded"></md-progress-circular>
      <div layout="column" layout-fill ng-show="verbatimLoaded">
        <md-subheader class="md-primary">
          <a ng-href="{{result.url}}" target="_blank" class="subheader-link">{{result.url}} <md-icon class="md-primary">link</md-icon></a>
        </md-subheader>
        <div layout flex layout-padding ng-if="verbatimLoaded && verbatimMode == 'text'" class="verbatim-preview">
          <pre>{{result.text}}</pre>
        </div>
        <div layout flex layout-padding ng-if="verbatimLoaded && verbatimMode == 'html'" class="verbatim-preview" ng-bind-html="result.html">
        </div>
        <div layout flex layout-padding ng-if="verbatimLoaded && verbatimMode == 'canola'" class="verbatim-preview">
          {{result.textCanola}}
        </div>
      </div>
    </div>
  </div>

  <!-- Column: topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column">
    <md-toolbar layout="row" class="md-hue-1">
      <div class="md-toolbar-tools">
        <span translate>TOPICS</span>
      </div>
    </md-toolbar>
    <md-list flex class="topics-list" ng-show="!transitioning" md-colors="{background: 'default-background-50-.6'}">
      <md-list-item class="sm-1-line" ng-repeat="topic in topics" ng-click="transition('topic')">
        <div class="sm-list-item-text" layout="column">
          <p translate>
            {{topic}}
          </p>
        </div>
      </md-list-item>
    </md-list>
  </div>

  <!-- (Hidden) Column: Right Handle -->
  <div ng-style="{'width': widthRightHandle+'px'}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.2'}">
  </div>

</div>