<div layout="row" flex>

  <!-- Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('webentity')">
    <md-button class="handle-button md-primary" ng-show="!transitioning">
      <md-icon aria-label="left">chevron_left</md-icon>
      <div class="left-handle-text" translate>WE</div>
    </md-button>
  </div>

  <!-- (Hidden) Column: Web entity -->
  <div flex="{{flexColWebentityExpanded}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- Column: Map + web entity summary-->
  <div flex="{{flexColMapWe}}" class="flex-transition" layout="column">
    <div flex="{{flexColMap}}" class="flex-transition" layout>
      <div flex layout id="sigmaContainer" ng-show="!transitioning"><div layout layout-fill layout-align="center center" translate>LOADING_NETWORK</div></div>
    </div>
    <div flex layout>
      TODO: Web entity info
    </div>
  </div>

  <!-- Column: Verbatim -->
  <div flex="{{flexColVerbatim}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <md-toolbar layout="row" class="md-accent">
      <div class="md-toolbar-tools">
        <span translate>VERBATIM</span>
      </div>
    </md-toolbar>
    <div flex layout layout-align="center center" ng-show="!transitioning">
      TODO: Verbatim
    </div>
  </div>

  <!-- Column: topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column">
    <md-toolbar layout="row" class="md-hue-1">
      <div class="md-toolbar-tools">
        <span translate>TOPICS</span>
      </div>
    </md-toolbar>
    <md-list flex class="topics-list" ng-show="!transitioning" md-colors="{background: 'default-background-50-.6'}">
      <md-list-item class="sm-1-line" ng-repeat="topic in topics" ng-click="null">
        <div class="md-list-item-text" layout="column">
          {{topic}}
        </div>
    </md-list>
  </div>

</div>