<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('webentities')">
  </div>

  <!-- Column: Web entities table -->
  <div flex="{{flexColWebentities}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <md-toolbar layout="row" class="md-hue-1" ng-show="!transitioning">
      <div class="md-toolbar-tools">
        <span>Web entities</span>
      </div>
    </md-toolbar>
    <md-virtual-repeat-container id="vertical-container" flex ng-show="!transitioning">
      <div md-virtual-repeat="we in webentities" class="repeated-item" flex>
        {{we.name}}
      </div>
    </md-virtual-repeat-container>
  </div>

  <!-- Column: Web entities map -->
  <div flex="{{flexColMap}}" class="flex-transition" layout="column">
    <div flex layout id="sigmaContainer" ng-show="!transitioning"><div layout layout-fill layout-align="center center">LOADING NETWORK</div></div>
  </div>

  <!-- (Hidden) Column: Search -->
  <div flex="{{flexColSearch}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- (Hidden) Column: Topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.6'}">
  </div>

  <!-- Column: Right Handle -->
  <div ng-style="{'width': widthRightHandle+'px'}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('search')">
    <md-button class="handle-button md-primary" ng-show="!transitioning">
      <md-icon aria-label="right">chevron_right</md-icon>
      <div class="right-handle-text">Search</div>
    </md-button>
  </div>

</div>