<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('webentities')">
  </div>

  <!-- Column: Web entities table -->
  <div flex="{{flexColWebentities}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <div layout layout-fill layout-align="center center" ng-show="!(webentitiesLoaded && searchQueryLoaded) && !transitioning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar layout="row" class="md-hue-1" ng-show="webentitiesLoaded && searchQueryLoaded && !transitioning">
      <div class="md-toolbar-tools">
        <span translate>WES</span>
      </div>
    </md-toolbar>
    <md-subheader class="md-primary" ng-show="webentitiesLoaded && searchQueryLoaded && !transitioning" md-colors="{background: 'default-background-100-0.3'}">
      <md-input-container class="md-primary md-icon-float" layout layout-fill>
        <label translate>SEARCH</label>
        <md-icon aria-label="search">search</md-icon>
        <input ng-model="searchQuery" type="text" ng-press-enter="execSearchQuery()">
      </md-input-container>
    </md-subheader>
    <md-list flex ng-show="webentitiesLoaded && searchQueryLoaded && !transitioning">
      <md-virtual-repeat-container id="vertical-container" layout-fill>
        <md-list-item md-virtual-repeat="we in webentities" class="md-2-line repeated-item" flex ng-click="transition('webentity', {webentity: we.id})">
          <div class="md-list-item-text" layout="column">
            <h3>{{ we.label }}</h3>
            <h4>Cited by {{ we['weighted indegree']|number }} - Pages: {{pagesPerEntity[we.id]}}/XXX</h4>
          </div>
          <!-- <md-checkbox class="md-secondary" ng-model="we.flag"></md-checkbox> -->
        </md-list-item>
      </md-virtual-repeat-container>
    </md-list>
  </div>

  <!-- Column: Web entities map -->
  <div flex="{{flexColMap}}" class="flex-transition" layout="column">
    <div flex layout id="sigmaContainer" ng-show="!transitioning"><div layout layout-fill layout-align="center center" translate>LOADING_NETWORK</div></div>
  </div>

  <!-- (Hidden) Column: Search -->
  <div flex="{{flexColSearch}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- (Hidden) Column: Topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.6'}">
  </div>

  <!-- Column: Right Handle -->
  <div ng-style="{'width': widthRightHandle+'px'}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('search')">
    <md-button class="handle-button md-primary" ng-show="!transitioning">
      <md-icon aria-label="right">chevron_right</md-icon>
      <div class="right-handle-text" translate>SEARCH</div>
    </md-button>
  </div>

</div>