<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}">
  </div>

  <!-- Column: Web entity -->
  <div flex="{{flexColWebentityExpanded}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <div layout layout-fill layout-align="center center" ng-show="!webentityLoaded && !transitioning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column" layout-padding ng-show="webentityLoaded && !transitioning">
      <h3>{{webentity.name}}</h3>
    </div>
  </div>

  <!-- Column: Map + docs-->
  <div flex="{{flexColMapDocs}}" class="flex-transition" layout="column">
    <div flex="{{flexColMap}}" class="flex-transition" layout="column">
      <md-button class="md-primary" ng-click="transition('webentities')">
        <md-icon>keyboard_arrow_up</md-icon>
        <span translate>BACK_TO_WES</span>
      </md-button>
      <div flex layout id="sigmaContainer" ng-show="!transitioning"><div layout layout-fill layout-align="center center" translate>LOADING_NETWORK</div></div>
    </div>
    <div flex layout="column">
      <div layout layout-fill layout-align="center center" ng-show="!pagesLoaded && !transitioning">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <md-toolbar layout="row" class="md-hue-1" ng-show="pagesLoaded && !transitioning">
        <div class="md-toolbar-tools">
          <span translate>DOCUMENTS</span>
        </div>
      </md-toolbar>
      <md-list flex ng-show="pagesLoaded && !transitioning">
        <md-virtual-repeat-container id="vertical-container" layout-fill>
          <md-list-item md-virtual-repeat="page in results" class="md-2-line repeated-item" flex ng-click="transition('verbatim', {'verbatim': page.id})">
            <div class="md-list-item-text" layout="column">
              <h3 class="page-url-in-list">{{ page.url }}</h3>
              <h4>{{ page.textCanola.substr(0, 100) }}</h4>
            </div>
          </md-list-item>
        </md-virtual-repeat-container>
      </md-list>
    </div>
  </div>

  <!-- (Hidden) Column: Verbatim -->
  <div flex="{{flexColVerbatim}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- (Hidden) Column: Topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.6'}">
  </div>

  <!-- (Hidden) Column: Right Handle -->
  <div ng-style="{'width': widthRightHandle+'px'}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.2'}">
  </div>

</div>