<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}">
  </div>

  <!-- Column: Web entity -->
  <div flex="{{flexColWebentityExpanded}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <div layout layout-fill layout-align="center center" ng-show="!webentityLoaded && !transitioning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="column" ng-show="webentityLoaded && !transitioning">
      <div layout layout-padding>
        <h2 style="word-break: break-all;">
          {{webentity.name}}
          <md-button class="md-icon-button" ng-href="{{webentity['attr_home']}}" target="_blank" class="subheader-link"><md-icon class="md-primary">link</md-icon></md-button>
        </h2>
      </div>
      <md-tabs md-selected="selectedTabIndex">
        <md-tab label="Entity Information"></md-tab>
        <md-tab label="Ego Network"></md-tab>
      </md-tabs>
      <div layout="row" ng-if="selectedTabIndex == 0">
        <div class="webentity-info" layout="column" layout-padding flex="60">
          <p>
            This web entity has {{webentity['nb_indexed_pages']|number}} indexed web pages. It is cited by {{webentity['weighted indegree']|number}} other entities in the corpus and cites {{webentity['weighted outdegree']|number}}, for a total degree of {{webentity['weighted degree']|number}}.
          </p>
          <p>
            Bridging score =
            {{webentity['betweenesscentrality']|number}}
            <span class="text-muted">(betweenness centrality)</span>
            <br>
            Centrality score =
            {{webentity['pageranks']|number}}
            <span class="text-muted">(page rank in the corpus)</span>
          </p>
          <p>
            URL prefixes defining the entity:
            <br>
            <span ng-repeat="url in webentity['prefixes'].split(' ') track by $index">
              <br>
              <a ng-href="{{webentity['attr_home']}}" target="_blank" class="subheader-link"><md-icon class="md-primary">link</md-icon></a>
              {{url}}
            </span>
          </p>
        </div>
        <div class="webentity-topics" layout="column"  flex="40">
          <h3 translate>TOPIC SCORES</h3>
          <div ng-repeat="topic in topics" ng-if="webentity[topic] > 0" layout="row">
            <div class="text-muted topic-score">
              {{+webentity[topic]|number:2}}
            </div>
            <div flex translate>
              {{topic}}
            </div>
          </div>
        </div>
      </div>
      <div layout="column" ng-if="selectedTabIndex == 1">
        SIGMA
      </div>
    </div>
  </div>

  <!-- Column: Map + docs-->
  <div flex="{{flexColMapDocs}}" class="flex-transition" layout="column">
    <div flex="{{flexColMap}}" class="flex-transition" layout="column">
      <md-button class="md-primary" ng-click="transition('webentities')">
        <md-icon>keyboard_arrow_up</md-icon>
        <span translate>BACK_TO_WES</span>
      </md-button>
      <div
        flex
        network-map
        transitioning="transitioning"
        single-highlight="webentity.id"
      ></div>
    </div>
    <div flex layout="column">
      <div layout layout-fill layout-align="center center" ng-show="!pagesLoaded && !transitioning">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <md-toolbar layout="row" class="md-hue-1" ng-show="pagesLoaded && !transitioning">
        <div class="md-toolbar-tools">
          <span translate>DOCUMENTS</span>&nbsp;<span style="opacity: 0.4">{{webentity['nb_indexed_pages']|number}}</span>
        </div>
      </md-toolbar>
      <md-list flex ng-show="pagesLoaded && !transitioning">
        <md-virtual-repeat-container id="vertical-container" layout-fill>
          <md-list-item md-virtual-repeat="page in results" class="md-2-line repeated-item" flex ng-click="transition('verbatim', {'verbatim': page.id})">
            <div class="md-list-item-text" layout="column">
              <h3 class="page-url-in-list">{{ page.url }}</h3>
              <h4>{{ page.textCanola.substr(0, 100) }}</h4>
            </div>
          </md-list-item>
        </md-virtual-repeat-container>
      </md-list>
    </div>
  </div>

  <!-- (Hidden) Column: Verbatim -->
  <div flex="{{flexColVerbatim}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- (Hidden) Column: Topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.6'}">
  </div>

  <!-- (Hidden) Column: Right Handle -->
  <div ng-style="{'width': widthRightHandle+'px'}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.2'}">
  </div>

</div>
