<div layout="row" flex>

  <!-- (Hidden) Column: Left Handle -->
  <div ng-style="{'width': widthLeftHandle+'px'}" class="flex-transition" layout="column" layout-align="center left" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('webentities')">
  </div>

  <!-- Column: Web entities table -->
  <div flex="{{flexColWebentities}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
    <div layout layout-fill layout-align="center center" ng-show="!(webentitiesLoaded && searchQueryLoaded) && !transitioning">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-toolbar layout="row" class="md-hue-1" ng-show="webentitiesLoaded && searchQueryLoaded && !transitioning">
      <div class="md-toolbar-tools">
        <span translate>WES</span>
      </div>
    </md-toolbar>
    <div class="md-primary search-subheader" ng-show="webentitiesLoaded && searchQueryLoaded && !transitioning" md-colors="{background: 'default-background-100-0.5'}" layout="row" layout-align="start">

      <!-- <md-input-container class="md-primary md-icon-float" layout="row" layout-fill>
        <label translate>SEARCH</label>
        <md-icon aria-label="search">search</md-icon>
        <input ng-model="searchQuery" type="text" ng-press-enter="execSearchQuery()">
      </md-input-container> -->

        <md-input-container class="md-primary md-icon-float" flex>
          <label translate>SEARCH</label>
          <md-icon aria-label="search">search</md-icon>
          <input ng-model="searchQuery" type="text" ng-press-enter="execSearchQuery()">
        </md-input-container>

        <md-input-container>
          <label translate>SORT BY</label>
          <md-select name="sortBy" ng-model="sortBy">
            <md-option value="degree" translate>DEGREE</md-option>
            <md-option value="indegree" translate>INDEGREE</md-option>
            <md-option value="outdegree" translate>OUTDEGREE</md-option>
            <md-option value="betweenness" translate>BETWEENNESS</md-option>
            <md-option value="pages" translate>PAGES</md-option>
            <md-option value="name" translate>NAME</md-option>
          </md-select>
        </md-input-container>

    </div>
    <md-list flex ng-show="webentitiesLoaded && searchQueryLoaded && !transitioning">
      <md-virtual-repeat-container id="vertical-container" layout-fill>
        <md-list-item
          md-virtual-repeat="we in webentities|filterEntities:pagesPerEntity:searchQuery|sortEntities:sortBy:pagesPerEntity"
          class="md-2-line repeated-item"
          flex
          ng-click="transition('webentity', {webentity: we.id})"
          ng-mouseenter="highlight(we.id)"
          ng-mouseleave="dishighlight(we.id)"
        >
          <div class="md-list-item-text" layout="column">
            <h3>{{ we.label }}</h3>
            <h4>
              <span md-colors="{color: 'default-background-900-0.8'}">
                Web pages: {{pagesPerEntity[we.id] == undefined ? we['nb_indexed_pages'] : pagesPerEntity[we.id] + '&nbsp;/&nbsp;' + we['nb_indexed_pages']}}&nbsp;&nbsp;
              </span>
              <span md-colors="{color: 'default-background-900-0.6'}">
                Degree {{ we['weighted degree']|number }}&nbsp;&nbsp;
                Cited by {{ we['weighted indegree']|number }}&nbsp;&nbsp;
                Citing {{ we['weighted outdegree']|number }}&nbsp;&nbsp;
                Bridging {{ we['betweenesscentrality']|number }}&nbsp;&nbsp;
              </span>
            </h4>
          </div>
          <!-- <md-checkbox class="md-secondary" ng-model="we.flag"></md-checkbox> -->
        </md-list-item>
      </md-virtual-repeat-container>
    </md-list>
  </div>

  <!-- Column: Web entities map -->
  <div flex="{{flexColMap}}" class="flex-transition" layout="column">
    <div
      flex
      layout
      network-map
      transitioning="transitioning"
      scores="webentityScores"
      single-highlight="highlightedEntity"
      show-total="true"
      ></div>
    <!-- (Hidden) -->
    <div flex={{flexColMapBottom}} class="flex-transition"></div>
  </div>

  <!-- (Hidden) Column: Search -->
  <div flex="{{flexColSearch}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50'}">
  </div>

  <!-- (Hidden) Column: Topics -->
  <div flex="{{flexColTopics}}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.6'}">
  </div>

  <!-- Column: Right Handle -->
  <div ng-style="{'width': widthRightHandle+'px'}" class="flex-transition" layout="column" md-colors="{background: 'default-background-50-.2'}" ng-click="transition('search')">
    <md-button class="handle-button md-primary" ng-show="!transitioning">
      <md-icon aria-label="right">chevron_right</md-icon>
      <div class="right-handle-text" translate>SEARCH</div>
    </md-button>
  </div>

</div>
