/* Flex transition between paged */
.flex-transition {
  transition: all .2s ease;
}

/* Handles */
.handle-button {
  height: 100%;
  min-width: 12px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.left-handle-text {
  pointer-events: none;
  transform: rotate(-90deg) translate(24px, -8px);
  transform-origin: left top 0;
  position: absolute;
  left: 12px;
  top: 50%;
}
.right-handle-text {
  pointer-events: none;
  transform: rotate(90deg) translate(-24px, -8px);
  transform-origin: right top 0;
  position: absolute;
  right: 12px;
  top: 50%;
}

/* Home page */

.search-container md-input-container{
  margin-bottom: 0px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 0px;
}

.searchResults md-list {
  padding-top: 0px;
}

.searchResults .repeated-item {
  box-sizing: border-box;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
          transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.searchResults .repeated-item:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.searchResults md-virtual-repeat-container {
  /*border: solid 1px #DDD;*/
}

.searchResults .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}

.searchResults h3 {
  margin: 0px 0px 2px 0px;
  font-size: 13px;
  line-height: 1.15;
  color: rgba(0,0,0,0.87);
  font-weight: 400;
  letter-spacing: .01em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.searchResults h4 {
  margin: 0px 0px 2px 0px;
  font-size: 11px;
  line-height: 1.15;
  color: rgba(0,0,0,0.87);
  font-weight: 400;
  letter-spacing: .01em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}

.searchResults p {
  margin: 0px 0px 2px 0px;
  font-size: 11px;
  line-height: 1.05;
  color: rgba(0,0,0,0.54);
  font-weight: 500;
  letter-spacing: .01em;
}

.topics-list {
  overflow-y: auto;
  overflow-x: hidden;
}