/* General */
md-list {
  padding: 0px;
}

.page-url-in-list {
  direction: rtl;
}


/* Flex transition between paged */
.flex-transition {
  transition: all .2s ease;
}

.text-muted {
  opacity: 0.5;
}

/* Handles */
.handle-button {
  height: 100%;
  min-width: 12px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.left-handle-text {
  pointer-events: none;
  transform: rotate(-90deg) translate(24px, -8px);
  transform-origin: left top 0;
  position: absolute;
  left: 12px;
  top: 50%;
}
.right-handle-text {
  pointer-events: none;
  transform: rotate(90deg) translate(-24px, -8px);
  transform-origin: right top 0;
  position: absolute;
  right: 12px;
  top: 50%;
}

/* Home page (Search) */

.search-map-container {
  /*padding-top: 24px;*/
}

.search-container md-input-container{
  margin-bottom: 0px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 0px;
}

.searchResults md-list {
  padding-top: 0px;
}

.searchResults .repeated-item {
  /*height: 120px;*/
  overflow: hidden;
}

.resultHighlight {
  opacity: 0.8;
}

.resultHighlight strong{
  background-color: rgba(255, 255, 255, .8);
}

.topics-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.logo-zone {
  position: absolute;
  width: 45%;
  margin-left: 60px;
  margin-top: 12px;;
}

.datascape-title {
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

.datascape-logo-container {
  max-width: 80px;
  max-height: 60px;
  margin-top: 6px;
  margin-right: 12px;
}

.datascape-logo-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.datascape-button-container button, .datascape-button-container a{
  padding: 0;
  margin: 12px 0px 0px 0px;
}

.search-download-container {
  height: 0px;
}

.search-download-container .search-download {
  height: 60px;
  margin-top: -60px;
  margin-right: 12px;
  z-index: 1;
}

.network-download-container {
  height: 0px;
}

.network-download-container .network-download {
  height: 60px;
  margin-top: -60px;
  margin-right: 12px;
  z-index: 1;
}

/* Web entities page */

#vertical-container .repeated-item {
  /*height: 60px;*/
}

.search-subheader {
}

.search-subheader md-input-container{
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 0px;
}


/* Web entity page */

.webentity-topics, .webentity-info {
  overflow-y: auto;
  overflow-x: hidden;
}
.webentity-topics .topic-score{
  width: 64px;
  padding-right: 12px;
  text-align: right;
}


/* Verbatim page */
.subheader-link {
  color: inherit;
  text-decoration: inherit;
}
.verbatim-preview {
  overflow: scroll;
}
.verbatim-preview pre {
  margin: 0px;
  width: 100px; /*dirty hack*/
}

/* Topics page */
#topics-matrix {
  overflow: auto;
}
#topics-matrix-svg-container{
  min-height: 1000px;
}

/* Topic page */
.bottom-topic {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

/* Network map directive */
.network-map-info {
  height: 64px;
  margin-top: -64px;
  z-index: 1;
}

.network-map-info .highlighted-entities {
  font-size: 1.2em;
  height: 28px;
}

.network-map-info .total-entities {
  font-size: 0.8em;
}

.network-map .canvas-supercontainer {
  position: relative;
  overflow: hidden;
}

.network-map .canvas-container, .network-map .canvas-container-highlight{
  overflow: hidden;
  position: absolute;
  left:0px;
  top:0px;
}

.network-map .canvas-supercontainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.network-map img.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}


/* Doc page */

.doc-content {
  padding: 24px;
  padding-bottom: 120px;
}

.doc-content img {
  padding: 12px 0px;
  max-width: 400px;
}

.doc-content h1, .doc-content h2, .doc-content h3, .doc-content h4, .doc-content h5, .doc-content h6 {
  font-weight: 300;
}

/* Sigma */
#sigma-container{
  background-color: #FFF;
  overflow: hidden;
}