/* General */
md-list {
  padding: 0px;
}

/* Flex transition between paged */
.flex-transition {
  transition: all .2s ease;
}

/* Handles */
.handle-button {
  height: 100%;
  min-width: 12px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.left-handle-text {
  pointer-events: none;
  transform: rotate(-90deg) translate(24px, -8px);
  transform-origin: left top 0;
  position: absolute;
  left: 12px;
  top: 50%;
}
.right-handle-text {
  pointer-events: none;
  transform: rotate(90deg) translate(-24px, -8px);
  transform-origin: right top 0;
  position: absolute;
  right: 12px;
  top: 50%;
}

/* Home page (Search) */

.search-container md-input-container{
  margin-bottom: 0px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 0px;
}

.searchResults md-list {
  padding-top: 0px;
}

.searchResults .repeated-item {
  /*height: 120px;*/
  overflow: hidden;
}

.resultHighlight {
  opacity: 0.8;
}

.resultHighlight strong{
  background-color: rgba(255, 255, 255, .8);
}

.topics-list {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Web entities page */

#vertical-container .repeated-item {
  /*height: 60px;*/
}